/* Reset the implicit style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

  /* inceput sa sterg daca nu merge  */
  /*merge dar trebuie sa ma gandesc daca il vreau. nu cred */
/* body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none} */




  /* sfarsit sa sterg daca nu merge */

/* Setting all the available space for the canvas */

#canvas {
    width: 100%;
    height: 100%;
}

/* Positioning elements of the page */

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}


.footer {
    flex-shrink: 0;
    background-color: #adb5bd;
    padding: 5px;
}


/* Styling the navbar */

.navbar {
    background-color: #adb5bd;
    position: relative;
    border-bottom: 2px solid black;
}


.logo {
    position: relative;
    float: left;
    left: 15px;
    top: 3px;
}

.logo-link {
    text-decoration: none;
}

.logo-text {
    position: relative;
    font-size: 20px;
    top: -15px;
    display: inline-block;
    color: black;
}

.logo-image {
    height: 30px;
    width: 30px;
    margin: 10px 0;
    display: inline-block;

}

.menu {
    float: right;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 15px;
    left: -10px;
    padding-left: 10px;
}

.menu a:hover {
    color:#284b63;
}

 .menu a.selected {
    width: 800px;
    text-decoration: underline;
    padding: 10px;
}



/* Styling the Welcome window */
.main-page-wrap {
    background-color: white;
    background-image: url('./images/background-image.jpeg');
    background-size: cover;
    background-position: -200px 0 0 0;
    background-repeat: none;
    flex: 1 0 auto;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
}

.main-box {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    width: 20em;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.732) ;
}

.main-box * {
    margin: auto;
    text-align: center;
    padding: 15px 10px 15px 10px;
}


/* Styling the Start button */
#start-button {
    display: block;
    padding: 15px 25px;
    margin-bottom: 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.elements-of-box .start-button {
    text-decoration: none;
}


#start-button:hover {
    background-color: #164d67;
}

#start-button:active {
    background-color: #164d67;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a#ranking-table-button {
    color: black;
    position: relative;
    left: -5px;
}


.elements-of-box * {
    padding-top: 20px;
}

#ranking-table-button {
    color: black;
}

/* Styling the ranking table page*/

caption {
    color: rgb(16, 16, 16);
    padding-bottom: 20px;
    font-weight: bold;
    font-size: larger;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.83);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
}

.table thead tr{
    background-color: #7c807f;
    color: #191717;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #111010;
    background-color: rgba(255, 255, 255, 0.762);
}


.table tbody tr.active-row {
    font-weight: bold;
    color: #fcffff;
    background-color: #49554f;
}


/*  Styling the login/register page */

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
    top: 15px;
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	/* background:rgba(119, 120, 123, 0.9); */
    background: #adb5bdd3;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top: 0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#000000;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgb(0, 0, 0);
	font-size:12px;
}
.login-form .group .button{
	/* background:#1161ee; */
    background:#343333;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(218, 31, 31, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#000000;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}