/* Reset the implicit style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

/* Setting all the available space for the canvas */
  #canvas {
    width: 100%;
    height: 100%;
}
/* Positioning elements of the page */


body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}


.footer {
    flex-shrink: 0;
    background-color: #adb5bd;
    padding: 5px;
}


/* Styling the navbar */

.navbar {
    background-color: #adb5bd;
    position: relative;
    border-bottom: 2px solid black;
}


.logo {
    float: left;
}

.logo-link {
    padding: 5px;
}

.logo-text {
    padding-bottom: 10px;
}

.menu {
    float: right;
    padding: 20px;
}

/* !!! NU MERGE!!!  ??????????????????????????? */

 a.selected {
    width: 800px;
    background-color: maroon;
    padding: 10px;
}


/* Styling the navbar */

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.menu a:hover {
    color:#284b63;
}

.logo-image {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 2px;
    padding: 5px;
}

.logo-text {
    display: inline-block;
    color: black;
}


.logo {
    padding-top: 5px;
}

#logo-text {
    padding-bottom: 10px;
}


    /* Styling the Welcome window */
.main-page-wrap {
    background-color: white;
    flex: 1 0 auto;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
}

.main-box {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    width: 20em;
    height: 20em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
}

.main-box * {
    margin: auto;
    text-align: center;
    padding: 15px 10px 15px 10px;
}


    /* Styling the Start button */
#start-button {
    display: block;
    padding: 15px 25px;
    margin-bottom: 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

/* !!!!!!! nu merge */
#start-button span {
    text-decoration: none;
}


#start-button:hover {
    background-color: #9c9e9c;
}

#start-button:active {
    background-color: #164d67;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.elements-of-box * {
    padding-top: 20px;
}

#ranking-table-button {
    color: black;
}